
body,
html,
* {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(spacebackground.jpeg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }


.source-sans-3 {
    font-family: "Source Sans 3", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

.gallery-title{
    text-align: center;
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    margin: 5rem;
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-radius: 50px;
    background: radial-gradient(circle, rgba(42,24,166,0.3799719716988358) 0%, rgba(68,4,94,1) 100%); 
}



.gallery{
    display: flex;
    width: 90%;

    margin: 5rem;
    justify-content: space-around;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

}


.card{
    width: 36rem;
    height: 36rem;
    border: solid;
    border-radius: 50px;
    margin: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out; 
    background: radial-gradient(circle, rgba(109,94,209,0.35) 0%, rgba(35,42,83,1) 100%);

}

.card-header{
text-align: center;
font-size: 3rem;
padding-bottom: 1rem;
color: white;
}

.card-image{
    height: 100%;  
    transition: all 0.3s ease-in-out; 
    border-radius: 50px;
}

a{
    height: 75%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.card:hover .card-image {
    transform: scale(1.05);  /* Expand the image when the card is hovered, synced */
    
}

.card:hover{
    transform: scale(1.2);
}

.num1{
    transition: all 0.3s ; 
}

.num1:hover{
    transform: rotate(0.01turn) translate(0rem,-2rem);

}

.num3{
    transition:all 0.3s;
}

.num3:hover{
    transform: rotate(-0.01turn) translate(0rem,-2rem);
}

.num5 {
    transition: transform 0.3s ease;
}

.num5:hover {
    transform: skew(2deg, 2deg);
}


.num7{
    transition: box-shadow 0.3s ease;
}

.num7:hover {
    box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.3);
}