body,
html,
* {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.source-sans-3 {
    font-family: "Source Sans 3", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

  #gallery-title{
    text-align: center;
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    margin: 5rem;
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-radius: 50px;

}

/* .parent{
    display: flex;
    border: solid;
    justify-content: space-around;
    height: 100rem;
   
} */

.gallery{
    display: flex;
    width: 80%;
    height: 100rem;
    margin: 5rem;
    justify-content: space-around;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

}


.card{
    width: 30rem;
    height: 30rem;
    border: solid;
    border-radius: 50px;
    margin: 2rem;
    padding: 2rem;

}

.card-header{
text-align: center;
font-size: 3rem;
padding-bottom: 1rem;
}

.card-image{
    height: 75%;    
}

.card-desc{
    padding-top: 1rem;
    text-align: center;
    font-size: 3rem;

    }
    