
body,
html,
* {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/backg.png) ;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    
  }


.source-sans-3 {
    font-family: "Source Sans 3", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

.gallery-title{
    text-align: center;
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: underline;
    margin: 5rem;
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-radius: 50px;
    background: radial-gradient(circle, rgba(42,24,166,0.3799719716988358) 0%, rgba(68,4,94,1) 100%); 

}



.gallery{
    display: flex;
    width: 90%;

    margin: 5rem;
    justify-content: space-around;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

}


.card{
    width: 30rem;
    height: 30rem;
    border: solid;
    border-radius: 50px;
    margin: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out; 
    background: radial-gradient(circle, rgba(109,94,209,0.35) 0%, rgba(35,42,83,1) 100%);
    color: white;
    box-shadow: 2px 3px 6px white;
    justify-content: center;
    align-items: center;
}


.card-header{
text-align: center;
text-anchor: start;
font-size: 3rem;
color: white;
padding-bottom: 1rem;
justify-content: center;
}

.card-image{
    max-height: 225px;
    max-width: 225px;
    transition: all 0.3s ease-in-out; 
    border-radius: 50px;
    object-fit: contain;

  
}

a{
    max-height: 275px;
    max-width: 275px;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    justify-content: center;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;

}
a:hover{
    color: rgb(74, 104, 241);
    background-color: transparent;
    text-decoration: underline;
}



.card:hover .card-image {
    transform: scale(1.075);  /* Expand the image when the card is hovered, synced */
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.2);
}

.num1{
    transition: all 0.3s ; 
}

.num1:hover{
    transform: rotate(0.01turn) translate(0rem,-2rem);

}

.num3{
    transition:all 0.3s;
}

.num3:hover{
    animation: wobble ease-in-out;
    animation-duration: 1s;
    
}



.num5 {
    transition: transform 0.3s ease;
}

.num5:hover {
    transform: skew(10deg, 2deg);
    
}


.num7 {
    transition: all 0.3;
}

.num7:hover {
    animation: jump ease-in-out;
    animation-duration: 1s;
}

@keyframes jump{
    0% {
    }
    20% {
      transform: translateY(10%);
    }
    40% {
      transform: translateY(-10%);
    }
    60% {
      transform: translateY(10%);
    }
    80% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(10%); 
  
    }
}


.num9 {
    transition: 0.3 ease;
}

.num9:hover {
    transform: matrix(1, .2, 1, 1, 0, 0);
}

